.whatsapp-logo{
    position: sticky;
    bottom: 100px;
    cursor: pointer;
}
.category-container{
    cursor: pointer;
}

.footer-container{
    background-color: rgb(22, 22, 86);
}
.footer-btn{
    padding: 6px 40px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 500;
    font-size: large;
    background-color: yellow;
}
.footer-btn:hover{
    color: rgb(45, 45, 249);
    background-color: #fff;
    border: 1px solid blue;
}
.sm-footer {
    cursor: pointer;
}
@media screen  and (max-width:576px){
    .footer{
        display: none;
    }
    
}